body {
  color: #ffffff;
  font-size: 1em;
  font-family: "open sans","helvetica Nue","sans-serif";
  background-color: #3399ff;
   text-shadow: 1px 1px 1px #000;
  }
.masthead-heading,
.masthead-intro,
.content-footer {
  text-align: center;
}
.masthead{
  padding: 6em 0;
  background-image: url('https://unsplash.imgix.net/photo-1414541944151-2f3ec1cfd87d?fit=crop&fm=jpg&h=700&q=75&w=1050');
  background-repeat: no-repeat;
  background-size: cover;
  border-top: solid 1em #666666;

    
}
.masthead-intro{
  margin-bottom: 0.1em;
  margin-top: -0.2em;
  font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 2em;
   text-shadow: 2px 2px 2px #000;
   color: #3399ff;
}
.masthead-heading{
  margin-top: -0.2em;
  margin-bottom: 0.1em;
  font-family:  "open sans","helvetica Nue","sans-serif";
  font-weight: bold;
  font-size: 6em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-shadow: 5px 5px 5px #000;
  color: #3399ff;
  
}
.content-footer
.introduction-section,
.location-section,
.questions-section {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
}
.social > li {
  display: inline-block;
}
.content-footer > p {
  color: white;
}
.introduction-section > p,
.location-section > p,
.content-footer > p {
  font-weight: 300;
  letter-spacing: 0.05em;
}
.questions-section > h2 {
  font-family:  "Gentium Book Basic", Georgia, serif;
  font-size: 1.2em;
  font-weight: bold;
  margin: 2em 0 1em 0;
}
section > h1{
  margin-top: 2em;
}
.content-footer {
  background-color: #666666;
}
@media only screen and (max-width: 500px) {
  .masthead-heading{
    padding: 3em 0;
    font-size: 3em;
}
}
